{% extends 'base.html' %}

{% block head %}
    <title>ZaMusic</title>
    <link href="{{ url_for('static', filename='css/musicForm.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
    <div id="main">
        <div id="first">
            <form action="http://localhost:5000/song/add" method="post">
                <h1>Upload A Song</h1>
                <h4>Please fill all entries.</h4>
{#                <a href="{{ url_for('get_All_Songs') }}"><button>View All Songs?</button></a>#}
                <img src="" alt="">
                <div class="form-div">
                    <div>
                        <label>Artiste Name :</label>
                        <input name="artiste_name" placeholder="Enter Artiste Name" type="text">
                    </div>
                    <div>
                        <label>Song Title :</label>
                        <input name="title" placeholder="Enter Song Title" type="text">
                    </div>
                </div>
                <div class="form-div">
                    <div>
                        <label>Album :</label>
                        <input name="album" placeholder="Enter Song Album" type="text">
                    </div>
                    <div>
                        <label>Genre :</label>
                        <input name="genre" placeholder="Enter Genre" type="text">
                    </div>
                </div>
                <div class="message-nd-btn">
                    <div>
                        <div>
                            <label>Description :</label>
                            <textarea name="desc" placeholder="How would you describe this song?">
                            </textarea>
                        </div>
                        <div>
                            <label for="myfile">Select a file:</label>
                            <input type="file" id="myfile" name="audioFile"><br><br>
                        </div>
                    </div>
                    <input name="dsubmit" type="submit" value="submit">
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}